<div class="head-box">
	<div class="container">
		<h1>Product detail</h1>
		<h3>Show product info</h3>
	</div>
</div>
<div class="container" id="main">
<div class="row">
	<div class="col-md-6">
		<blockquote>
			<p>Product Name: <strong class="text-primary"><%= @product.name %></strong></p>
			<p>Category Name: <strong class="text-primary"><%= @product.category.name %></strong></p>
			<p>Price: <strong class="text-primary"><%= @product.price %></strong></p>
			<p class="action">
			<%= link_to 'Edit', edit_admin_product_path(@product) %> | <%= link_to 'Destroy', [:admin, @product],
			                    method: :delete, data: { confirm: 'Are you sure?' } %>
		</blockquote>
	</div>
</div>
</div>




